{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>My account:
			{{app.user}}</h1>
		<hr>

		<div class="account-action">
			<div class="add-shop">

				{% if showShopForm %}
					<h3>Create my shop</h3>

					{{ form_start(shopForm) }}
					{{ form_widget(shopForm) }}
					<button type="submit" class="btn">Add Shop</button>
					{{ form_end(shopForm) }}
				</div>
			{% else %}
				<h3>My Shop :
					{{shop}}</h3>
			{% endif %}


			<div class="add-objects">
				<h3>Add an object to my shop</h3>
				{{ form_start(objectForm) }}
				{{ form_widget(objectForm) }}
				<button type="submit" class="btn">Add Object to Shop</button>
				{{ form_end(objectForm) }}
			</div>

			<div class="objects">
				{% for object in shop.objects %}
					<h3>{{object.name}}</h3>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
